/* .App {
  text-align: center;
  height: 100vh;
} */

.login-form {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-text {
  color: white;
}

.content-details {
  color: white;
  align-items: center;
  justify-content: center;
}

.content-description {
  font-size: 20px;
  margin-top: 1rem;
}

.arrow-back {
  width: 17px;
  transform: rotate(180deg);
}

@media (min-width: 360px) and (min-height: 600px) {
  .App {
    height: unset;
  }
}

@media (min-width: 360px) {
  .login {
    height: 100vh;
  }
}
